



$font-stack:    Helvetica, sans-serif, "Open Sans";
$primary-color: #333;


html {
    width: 100%;
    height: 100%;
}
body {
    font: 100% $font-stack;
    color: $primary-color;
    background-color: #bdc3c7;
    padding: 30px 150px 150px 50px;
    }


.button {
  padding-left: 10px;
  padding-right: 5px;
}

.button:hover {
  background-color: #2c3e50;
}

.border {
  border: solid 3px #95a5a6;
  border-radius: 30px;
  padding-right: 25px;
  padding-bottom: 25px;

}

.left-border {
  border-style: solid;
  border-left-style: solid;
  border-left-style-color: #95a5a6;
}

h3 {
  color: #2c3e50;
  padding-bottom: 10px;
}

h4 {

  color: #747c83;
  padding-bottom: 10px;
}

h5 {
  color: #747c83;
  padding-bottom: 10px;
}
nav {
    ul {
        text-decoration: none;
        list-style: none;
        font-size: 14px;
    }
}

.footer {
  background-color: #95a5a6;
}

.topnav{
 padding-top: 20px;
 padding-bottom: 20px;
 padding-right: 20px;
 padding-left:20px;
 background-color: #95a5a6;
}
.top-container {
  margin-top: 150px;
}


.sidebar-margin {
  margin-top: 15px;
}

#songName {

}
.text-color {
  color: #000000;
}

.container-padding {
  padding-top: 25px;
  padding-bottom: 10px;
  padding-left: 25px;
  padding-right: 25px;


}
.side-container-text {
  color: #ecf0f1; 
  font-size: 20px;
}
.truncate {
  width: 15em;
  min-height: 17%;
  verflow: hidden;
  word-wrap: break-word;
  text-overflow: ellipsis;
  padding-top: 8px;
  padding-bottom: 10px;
}

.content-container {
width: 250px;
min-height: 200px;


}