{{#each movies}}
  <div class="">
    <h4>{{title}} </h4>
    <ul>
      <li><h5>{{plot}}</h5></li>
      <li><h5>{{actors}}</h5></li>
      <li><h5>{{releasedate}}</h5></li>
          </ul>
  </div>
{{/each}}